<%- include("./successMessages") %> 
<%- include('./infoMessages') %>

<div class="blog-container" >
  <% for(blog of locals.blogs) { %>
    <div>
      Title : <strong><%= blog.title %></strong>
      <br> 
      Category : <%= blog.category %> 
      <br>
      <img width="100%" height="500px"  src="/images/<%=blog.image%>" alt="blog ka photo">
      <br>
      <%- blog.description %> 
      <br>
      <br>
      Contributed by : <strong><%= blog.author %></strong> 
      <hr>
    </div>
    
  <% } %> 
</div>

