
<div class="blog-container" >
  
      Title : <strong><%= blog.title %></strong>
      <br> 
      Category : <%= blog.category %> 
      <br>
      <img width="100%" height="500px"  src="/images/<%=blog.image%>" alt="blog ka photo">
      <br>
      <%- blog.description %> 
      <br>
      <br>
      Contributed by : <strong><%= blog.author %></strong> 
      <div>
        <% if (locals.user.username == blog.author) { %>
          <form action="/edit/<%=blog._id%>" method="GET">
            <button type="submit" class="btn btn-outline-info">Edit</button>
          </form>
        <% } %>
      

      </div>
    <br>
    <hr>
    <h1><u>Comments</u></h1>
    <br>
    <% for(comment of comments) { %>
      <div class="comments">
        <li> <strong><%= comment.writer %> </strong> : <%= comment.comment %> </li>
      </div>
    <% } %>
    <br>
    <br>
    <br>
    <h2>Add Comments</h2>
    <br>
    <form action="/show/comment/<%=blog._id%>" method="POST">
        <input type="text" name="comment" id="comment" placeholder="Write your Comments" required>
        <button class="btn btn-dark" type="submit">Send</button>
    </form>

</div>

